html{
  box-sizing: border-box;
}
*, *:before, *:after{
 box-sizing: inherit;
}
:root{
--SoftBlue:hsl(215, 51%, 70%);
--Cyan:hsl(178, 100%, 50%);
--VeryDarkBlueA: hsl(217, 54%, 11%);
--VeryDarkBlueB: hsl(216, 50%, 16%);
--VeryDarkBlueC: hsl(215, 32%, 27%);
--White:hsl(0, 0%, 100%);
--FontsizeParagraph: 18px;
}
body{
  margin:0;
  padding:0;
  background-color: var(--VeryDarkBlueA);
  font-family: 'Outfit', sans-serif;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.image_equil{
  display: block;
  width:100%;
  border-radius:10px;
}
.image_container{
  position: relative;
}
.hover_on{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: transparent;
}
.hover_on:hover{
  background-image: url(/images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  background-color:hsl(178, 100%, 50%, 0.5); ;
}
.main{
  width: 90%;
  padding: 20px;
  max-width: 375px;
  border-radius:20px;
  background-color: var(--VeryDarkBlueB);

}
.info_container, .info_eth,.container2{
  display: flex;
  
}
.info_container{
  justify-content: space-between;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--VeryDarkBlueC) ;
}
p{
  color: var(--SoftBlue);
}
.title{
  margin-bottom: 0;
  color: var(--White);
}
.title:hover{
  cursor: pointer;
  color: var(--Cyan);
}
.info_eth{
  width: 40%;
  align-items: center;
  gap: 0.5em;;
}
.eth_days{
  width: 40%;
  align-items: center;
  gap: 0.5em;
}
.info_eth p{
margin: 0;
}
.value_eth{
  margin-bottom: 0;
  color: var(--VeryDarkBlueC);
}
.value_eth:hover{
  cursor: pointer;
  color: var(--Cyan);
}
.container2{
  align-items: center;
  gap: 1rem;
}
.avatar_img{
  width:35px;
  display: block;
  height:35px;
  border: 1px solid var(--White);
  border-radius: 50%;
}
.creator_text{
  font-size: var(--FontsizeParagraph);
  margin: 0;

}
.creator_text span{
  color: var(--White);
  cursor: pointer;
}
.creator_text span:hover{
  color: var(--Cyan);
  cursor: pointer;
}
@media (min-width:375px){
  body{
    font-size: var(--FontsizeParagraph);
  }

  .container{
    max-width: 300px;
  }
}